# General
.DS_Store
.env
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Python Virtual Environments
venv/
.env/
*.venv

# AWS SAM & Serverless Framework
.aws-sam/
.serverless/
samconfig.toml

# AWS Credentials & Config
.aws/
config/
credentials/

# Amplify
amplify/
aws-exports.js

# Next.js Build
frontend/.next/
frontend/.env.local
frontend/.env.production
frontend/.env.development
frontend/node_modules/
frontend/.vercel/
frontend/.dist/

# VSCode & IDEs
.vscode/
.idea/
*.iml

# Coverage & Testing
.coverage
coverage.xml
htmlcov/
pytest_cache/
junit.xml


# Next.js build and cache files
.next/
out/
dist/
.cache/
node_modules/

# Local env files
.env.local
.env.development.local
.env.production.local
.env.test.local

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Payloads
scripts/payloads/

/.mypy_cache
/.pytest_cache

# Templates
template.yaml

/terraform/networking/.terraform/
/terraform/networking/terraform.tfvars
terraform/networking/.terraform.lock.hcl
terraform/networking/terraform.tfvars
terraform/backend.hcl
terraform/application/terraform.tfvars
terraform/application/.terraform.lock.hcl
/terraform/application/.terraform/
terraform/application/terraform.tfstate
terraform/terraform.tfvars
terraform/application/ssm/variables.tfvars
terraform/.terraform/terraform.tfstate
terraform/.terraform/
terraform/application/lambda/*.zip
terraform/.terraform.lock.hcl

# windsurf rules
.windsurfrules
.windsurfrules
scripts/config.json
terraform/tfplan
